html {
	width: 780px;
	margin: 0 auto;
}

body {
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-size: 3em;
}

h2 {
	display: block;
}

.contact li, .writings li, unfinished-writings li {
	list-style: none;
}

.intro {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 20%;
}

.writings {
	text-align: left;
}

.unfinished-writings {
	text-align: left;
}

.contact {
	text-align: left;
}